.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    /* border-bottom: 1px solid black; */
  }
  
  .logo {
    /* font-weight: bold;
    font-size: 1.5rem; */
    width: fit-content;
  }
  .logo > img {
    border-radius: 4px;
    height: 40px;
    width: 40px;
  }
  
  .nav-links a {
    font-size: large;
    margin-right: 3rem;
    color: inherit;
    text-decoration: none;
  }
  .nav-links a:hover {
    color: black;
    transition: all 0.5s;
  }
  
  .icons {
    display: flex;
    /* margin-right: 4vmax; */
  }
  
  .icons .icon {
    margin-right: 1rem;
  }

  .userIcon {
    position: fixed;
    right: 2vmax;
  }
  
  .icons a {
    color: white;
  }
  .icons a:hover {
    color: black;
    transition: all 0.5s;
  }

  .speedDial {
    position: fixed;
    right: 0.5vmax;
    top: 0.5vmax;
  }
  
  .speedDialIcon {
    width: 35px;
    height: 35px;
    border-radius: 100%;
  }

  .MuiSpeedDial-root
  .MuiSpeedDial-fab {
    width: 35px;
    height: 35px;
  }

  @media screen and (max-width: 520px){
    .header {
      width: 100%;
    }
  }