.productsHeading {
    margin: 2vmax auto;
    width: 80vw;
    border-bottom: 2px solid rgba(0, 0, 0, 0.171);
    padding: 2vmax;
    color: rgba(0, 0, 0, 0.678);
    font: 1000 1.5vmax "Roboto";
    text-align: center;
    margin-bottom: 8.5vmax;
  }
  
  .products {
    /* margin-left: 8.5vmax; */
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vmax;
    justify-content: center;
    min-height: 30vh;
  }

  .paginationBox {
    display: flex;
    justify-content: center;
    margin: 6vmax;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .page-item {
    background-color: rgb(255, 255, 255);
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding: 1vmax 1.5vmax;
    transition: all 0.3s;
    cursor: pointer;
  }
  .page-item:first-child {
    border-radius: 5px 0 0 5px;
  }
  
  .page-item:last-child {
    border-radius: 0 5px 5px 0;
  }
  .page-link {
    text-decoration: none;
    font: 600 0.8vmax "Roboto";
    color: rgb(80, 80, 80);
    transition: all 0.3s;
  }
  
  .page-item:hover {
    background-color: rgb(230, 230, 230);
  }
  
  .page-item:hover .page-link {
    color: black;
  }
  
  .pageItemActive {
    background-color: #007bff;
  }
  .pageItemActive .page-link {
    color: white;
  }
  
  .pageLinkActive {
    color: white;
  }
.css-6hp17o-MuiList-root-MuiMenu-list {
  display: flex;
  flex-direction: column;
}
  .filterBox {
    font: 100 0.8vmax "Roboto";
    width: 20vmax;
    position: absolute;
    top: 13vmax;
    left: 24.5vmax;
    text-align: center;
    padding: 1.5vmax;
    border-radius: 10px;
    background-color: rgb(179, 179, 179);
    height: 3.5vmax;
  }
  .filterBox > p {
    font-size: large;
  }
  

  .categoryBox {
    height: 3.5vmax;
    width: 20vmax;
    position: absolute;
    top: 13vmax;
    left: 51.5vmax;
    text-align: center;
    padding: 1.5vmax;
    border-radius: 10px;
    background-color: rgb(179, 179, 179);
  }

  @media screen and (max-width: 600px) {

    .filterBox {
      font: 100 0.8vmax "Roboto";
      width: 20vmax;
      position: absolute;
      top: 18vmax;
      left: 19vmax;
      text-align: center;
      padding: 1.5vmax;
      border-radius: 10px;
      background-color: rgb(179, 179, 179);
      height: 10.5vmax;
    }
    .filterBox > p {
      font-size: large;
    }

    .products {
      margin-top: 17vmax;
    }
    
  
    .categoryBox {
      height: 10.5vmax;
      width: 20vmax;
      position: absolute;
      top: 18vmax;
      left: 44vmax;
      text-align: center;
      padding: 1.5vmax;
      border-radius: 10px;
      background-color: rgb(179, 179, 179);
    }
  }
  
